<!DOCTYPE html>
<html>
<head>
    <title>Add Marks</title>
</head>

<body>

<h2>Enter Student Marks</h2>

<form method="POST" action="/add_marks">

    <input type="number" name="student_id" placeholder="Student ID" required><br><br>

    <h3>Subjects & Grades</h3>

    <input type="text" name="subject1" placeholder="Subject 1" required>
    <input type="text" name="grade1" placeholder="Grade (A/B/C/D)" required><br><br>

    <input type="text" name="subject2" placeholder="Subject 2" required>
    <input type="text" name="grade2" required><br><br>

    <input type="text" name="subject3" placeholder="Subject 3" required>
    <input type="text" name="grade3" required><br><br>

    <input type="text" name="subject4" placeholder="Subject 4" required>
    <input type="text" name="grade4" required><br><br>

    <input type="text" name="subject5" placeholder="Subject 5" required>
    <input type="text" name="grade5" required><br><br>

    <input type="text" name="subject6" placeholder="Subject 6" required>
    <input type="text" name="grade6" required><br><br>

    <button type="submit">Submit Marks</button>

</form>

</body>
</html>