<!DOCTYPE html>
<html>
<head>
    <title>Teacher Management</title>
</head>

<body>

<h1>Teacher Management</h1>

<form action="/add_teacher" method="POST">

    <input type="text" name="name" placeholder="Teacher Name" required><br><br>

    <input type="text" name="subject" placeholder="Subject" required><br><br>

    <input type="text" name="phone" placeholder="Phone" required><br><br>

    <input type="email" name="email" placeholder="Email" required><br><br>

    <button type="submit">Add Teacher</button>

</form>

<hr>

<table border="1">

<tr>

<th>ID</th>

<th>Name</th>

<th>Subject</th>

<th>Phone</th>

<th>Email</th>

</tr>

{% for teacher in teachers %}

<tr>

<td>{{ teacher[0] }}</td>

<td>{{ teacher[1] }}</td>

<td>{{ teacher[2] }}</td>

<td>{{ teacher[3] }}</td>

<td>{{ teacher[4] }}</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/dashboard">Back to Dashboard</a>

</body>
</html>